{% extends "jstest/base_spec.html" %}

{% block title %}Jasmine Test Suite{% endblock title %}

{% block framework_media %}
	<link rel="stylesheet" href="{% url jasmine_css %}" type="text/css" />
	<script type="text/javascript" src="{% url jasmine_js %}"></script>
	<script type="text/javascript" src="{% url jasmine_html_js %}"></script>
{% endblock framework_media %}

{% block content %}
	{{ block.super }}
	<script type="text/javascript">
	(function() {
	  var jasmineEnv = jasmine.getEnv();
	  jasmineEnv.updateInterval = 250;

	  var htmlReporter = new jasmine.HtmlReporter();
	  jasmineEnv.addReporter(htmlReporter);

	  jasmineEnv.specFilter = function(spec) {
	    return htmlReporter.specFilter(spec);
	  };

	  var currentWindowOnload = window.onload;

	  window.onload = function() {
	    if (currentWindowOnload) {
	      currentWindowOnload();
	    }
	    execJasmine();
	  };

	  function execJasmine() {
	    jasmineEnv.execute();
	  }

	})();
	</script>
{% endblock content %}
