<html>

	<head>
	  <title>Jasmine Test Suite {% if app %}- {{ app }}{% endif %}</title>
  
		<link rel="stylesheet" href="{% url jasmine_css %}" type="text/css" />
		<script type="text/javascript" src="{% url jasmine_js %}"></script>
		<script type="text/javascript" src="{% url jasmine_html_js %}"></script>

		<!-- Libraries (dependencies and source code) -->
		{% for src in jslibs %}
		<script type="text/javascript" src="{{ MEDIA_URL }}{{ src }}"></script>
		{% endfor %}
  
		<!-- Jasmine Tests (specs) -->
		<script type="text/javascript">
			{{ tests|safe }}
		</script>
	</head>

	<body>
		<div id="main">
		  <!-- HTML here -->
		</div>
		<script type="text/javascript">
			jasmine.getEnv().addReporter(new jasmine.TrivialReporter());
			jasmine.getEnv().execute();
		</script>
	</body>
	
</html>